.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
  text-align: center;
}

.register-form button {
  padding: 5px;
}

.register-form input {
  padding: 3px;
}
