.landing-page {
  text-align: center;
  padding: 30px;
}

.landing-page h1 {
  margin-bottom: 20px;
}

.landing-page p {
  margin-bottom: 40px;
}

.auth-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.auth-button button {
  padding: 5px;
}
